header {
  background: #264653;
}
.item2 {
  background: #2a9d8f;
}
.item3 {
  background: #e9c46a;
}
.item4 {
  background: #f4a261;
}
.item5 {
  background: #e76f51;
}
.item6 {
  background: #ffd166;
}
.item7 {
  background: #06d6a0;
}
footer {
  background: #073b4c;
}